[Desktop Entry]
Version=1.0
Type=Application
Name=Ekran Kilitleme
Comment=Sistem ekranını kilitler
Exec=/usr/bin/python3 /opt/tahta-kilit/kilit.py
Path=/opt/tahta-kilit
Icon=/opt/tahta-kilit/resim/logo.png
Terminal=false
Categories=Utility;
