[Desktop Entry]
Version=1.0
Type=Application
Name=Ekran Kilitleme
Comment=Sistem ekranını kilitler
Exec=/home/etapadmin/Masaüstü/Tahta/kilit.py
Icon=system-lock-screen
Terminal=false
Categories=Utility;
